# Neon
DATABASE_URL=
DATABASE_URL_AUTHENTICATED=
# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
# Sentry
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
# PostHog (EU)
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
